body{
  /* background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/8d355896126013.5ea763f31abcd.jpg"); */
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5fac1c61117849.5a68503f3fcb4.jpg");
}

.App {
  background-color: peachpuff;
  min-height: 700px;
  width: 700px;
  margin-left: 250px;
  margin-right: 20px;
  margin-top: 20px ;
  margin-bottom: auto;
}


#to-do-form input{
 background-color: lightgray;
  width: 450px;
  height: 40px;
  margin: 20px;
  padding: 0 20px;
  font-size: 22px;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  background-color: darkseagreen;
   width: 80px;
   height: 40px;
   margin: 20px;
   padding: 0 20px;
   border-radius: 10px;
   font-weight: bolder;
   font-style: oblique;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 22px;
   cursor: pointer;
 }

 #to-do-form button:focus{
   outline: none;
 }

